*

!.gitignore
!i3/
!i3/**

!dunst/
!dunst/**

!i3blocks/
!i3blocks/**

!ghostty/
!ghostty/**

!picom/
!picom/**

!rofi/
!rofi/**

!tmux/
!tmux/**
tmux/plugins

!scripts/
!scripts/**

!hypr/
!hypr/**

!waybar/
!waybar/**

!kanshi/
!kanshi/**

!install.sh
